@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	background-color: #fff6e1;
}

input,
button {
  border: 0;
  outline: 0;
  background: transparent;
  font-family: "Open Sans", serif;
}

select::-ms-expand {
	display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
	cursor: pointer;
}

.select-wrapper {
	position: relative;
}

.select-wrapper::after {
	pointer-events: none;
	content: "";
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	display: block;
	background-image: url("./assets/down-arrow.svg");
	width: 15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

input::placeholder {
  font-family: "Open Sans", serif;
}

video {
  background-color: transparent;
  border-bottom: 1px solid transparent; /* хак для предотвращения мелькания при загрузке на некоторых версиях ios */
  &::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
  }
  &::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
  }
  &::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0;
    visibility: hidden;
  }
}

ul {
  list-style: none;
  text-align: left;
}

p {
  font-size: 16px;
}

body {
  width: 100%;
  font-family: "Open Sans", serif;
  font-weight: 400;
  color: #1f1f1f;
  text-align: center;
}

.wrapper-background {
  position: relative;

  & > .background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

section {
  padding: 50px 25px;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 32px;
}

.first-screen {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    color: #1f1f1f;
    font-weight: 400;
    text-align: center;

		@media screen and (max-width: 390px) {
			font-size: 20px;
		}
  }

  &__wrapper-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    & > h2 {
      font-family: "Great Vibes", serif;
      font-size: 50px;
      font-weight: 400;
      color: #1f1f1f;
    }

    & > span {
      font-family: "Great Vibes", serif;
      font-size: 34px;
      line-height: 100%;
      color: #1f1f1f;
    }
  }

  &__wrapper-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    & > h4 {
      letter-spacing: 16%;
      font-size: 32px;
      color: #1f1f1f;
      font-weight: 300;
      text-transform: lowercase;
    }

    & > span {
      font-weight: 400;
      font-size: 60px;
      line-height: 100%;
    }
  }
}

.timing {
  background-color: rgba(255, 255, 255, 0.5);

  & > .subtitle {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 400;
  }

  &__top-text {
    margin-bottom: 20px;
    font-size: 16px;
  }

  &__bottom-text {
    margin-bottom: 60px;
    font-size: 16px;
  }

  &__wrapper-time {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;

    & span {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 7px;
    }

    & p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.dress-code {
  background-color: #fffefa;

  &__palette {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 4px;

    &-color {
      min-width: 56px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
  }
}

.tips {
  background-color: #fffbe9;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-bottom: 50px;

		&-item {
			display: flex;
			align-items: flex-start;
			gap: 12px;

			&__title {
				font-size: 22px;
				font-weight: 300;
				text-transform: uppercase;
				margin-bottom: 14px;
			}

			&__description {
				font-weight: 300;
			}
		}
	}

	&__location {
		text-align: left;
		font-size: 18px;

		&.top {
			margin-bottom: 25px;
		}
	}

	&__subtitle {
		text-align: left;
		margin-top: 32px;
		margin-bottom: 14px;
		font-size: 18px;
		font-weight: 600;
	}

	&__text {
		text-align: left;
	}
}

.map {
  background-color: #fff;

	.map__wrapper {
		height: 250px;

		& .y-map {
			width: 100% !important;
			height: 100% !important;
		}
	}
}

.form {
	width: 100%;

	&__description {
		margin-bottom: 32px;
		font-size: 20px;
		font-weight: 300;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 32px;

		& input, select {
			height: 60px;
			width: 100%;
			border: 1px solid #000;
			padding: 20px;
			border-radius: 5px;
			background-color: transparent;
			color: #1f1f1f;
			font-size: 16px;
			outline: none;
		}
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: left;
		gap: 5px;
	}

	&__alcohol {
		margin: 40px 0;
		text-align: left;

		& > .subtitle {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 24px;
		}

		& > .col {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}

	&__wrapper-checkbox {
		display: flex;
		align-items: center;
		gap: 10px;

		& > input {
			width: 25px;
			height: 25px;
		}
	}

	&__button  {
		color: #1f1f1f;
		border: 1px solid #1f1f1f;
		border-radius: 5px;
		padding: 15px 64px;
		font-size: 16px;
		font-weight: 400;
		transition: .2s;

		&:hover {
			background-color: #1f1f1f;
			color: #fff;
		}
	}

	&__names {
		margin-top: 50px;

		& .top {
			font-size: 50px;
			font-weight: 400;
      font-family: "Great Vibes", serif;
			margin-bottom: 40px;
		}
	}

	&__name-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;

		& > .name {
			font-size: 50px;
      font-family: "Great Vibes", serif;
			font-weight: 400;

			@media screen and (max-width: 390px) {
				font-size: 36px;
			}
		}

		& > span {
			font-size: 50px;
      font-family: "Great Vibes", serif;
			font-weight: 400;

			@media screen and (max-width: 390px) {
				font-size: 36px;
			}
		}
	}
}

@media screen and (min-width: 550px) {
  body {
    width: 500px;
    margin: 0 auto;
  }

  .wrapper-background > .background {
    width: 500px;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
		right: 0;
    left: 0;
		margin: auto;
    z-index: -2;
  }
}
